

nav {
		background-color: rgb(36, 37, 37);
		display: flex;
		position: relative;

		border-radius: 20px;

}

#about {
		position: relative;
		margin-left: 950px;
		border-radius: 100px;
		margin-bottom: 15px;
}

#logo {
		position: relative;
		margin-left: 100px;
		margin-top: 15px;
		border-radius: 100px;
		height: 70%;
		margin-top:
}
header{
	#hero{
	}
}



paragraph{

}

footer{

}
