.container-fluid {
    display: flex;
}

.container-fluid > li, lifooter  {
    flex: 1;
}

#nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(27, 112, 210);
    height: 12%;
    border-radius: 25px;
}

li, lifooter {
    float: left;

}

li a {
    display: block;
    color: white;
    font-size: 2em;
    text-align: center;
    padding: 14px 25px;
    text-decoration: none;
    background-color: black;
    margin-top: 6%;
    margin-left: -30%;
    margin-right: 10%;
    border-radius: 50px;
    font-weight:bold;
    text-transform: uppercase;
}

li img {
    display: block;
    color: white;
    padding: 0px;
    border-radius: 100px;
    margin-top: 3%;
    margin-bottom: 6%;
    margin-left: 5%;
}

li :hover {
    background-color: grey;
}
body{
	background-color: lightgrey;
	width:99%;
}

#hero{
	display: flex;
	height: 250px;
	background-color: lightblue;
	border-radius: 25px;
	position: relative;
	width:100%;
}

#hero_text{
	text-align: left;
	font-size: 1.5em;
	position: relative;
	top: 55px;
	left: 20%;
	color: Black;
	width:80%;
}

#blog_post{
	text-align: left;
	position: relative;
	top: 10px;
	left: 30%;
	color: Black;
	width: 40%;
	border:;
}

#hlink:link {
    color: blue !important;
    background-color: transparent;
    text-decoration: none;
}

#hlink:visited {
    color: lightpurple !important;
    background-color: transparent;
    text-decoration: none;
}

#hlink:hover {
    color: red !important;
    background-color: transparent;
    text-decoration: underline;
}

#hlink:active {
    color: cyan !important;
    background-color: transparent;
    text-decoration: underline;
}

}
/*Styles for About Us Page*/
.form-inline{
	padding-top: 3%;
	padding-left: 15%;
	padding-right: 15%;
}

.w-75{
 pagging-left: 5%;
}

.aboutusname{
	font-size: 48px;
	font-weight: bold;
	line-height: normal;
	margin: 0;
}

.aboutustitle{
	font-size: 20px;
	line-height: normal;
	font-style: italic;
	margin: 0;
}

.aboutusdescriprion{
	font-size: 19px;
	margin-top: 5%;
}


/* End of Styles for About Us*/


lifooter img {

    padding: 10px;
    border-radius: 180px;
    height: 60%;
    width: 30%
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 10%;
}

footer {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: rgb(27, 112, 210);
	height: 7%;
}
/*Formating for Content Page*/
	.contentp{
		font-size: 1.5em;
		}
/*End of formating for Content Page*/
