nav {

}

header{
	
}

body{
	background-color: lightgrey;
}

#hero{
	display: flex;
	height: 250px;
	background-color: lightblue;
	border-radius: 25px;
	position: relative;
}

#hero_text{
	text-align: left;
	position: relative;
	top: 55px;
	left:20%;
	color: Black;
}

#blog_post{
	text-align: left;
	position: relative;
	top: 55px;
	left: 30%;
	color: Black;
}

a:link {
    color: blue;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: lightpurple;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: cyan;
    background-color: transparent;
    text-decoration: underline;
}

paragraph{

}

footer{

}
/*Formating for Content Page*/
	.contentp{
		font-size: 1.5em;
		}
/*End of formating for Content Page*/
